@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 1em 40px; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  header, .text-left, .logo {
    text-align: left !important; }

  .text-left *, .logo * {
    text-align: left; } }
/*      base
-----------------------------------------------------------------------*/
@-moz-viewport , @-ms-viewport, @-o-viewport, @-webkit-viewport, @viewport {
  width: device-width; }
[tabindex="-1"]:focus {
  outline: none !important; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fff;
  color: #695f5f;
  font: 16px/1.5 \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation; }

button, [role="button"], [type="button"] {
  background: none;
  cursor: pointer;
  border: none; }
  button:focus, [role="button"]:focus, [type="button"]:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(252, 176, 55, 0.35); }

a {
  color: #017E9C;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active {
    color: #2D385E;
    outline-width: 0; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 48px;
  font-size: 3rem; }

h2 {
  font-size: 32px;
  font-size: 2rem; }

h3 {
  font-size: 27px;
  font-size: 1.6875rem; }

h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 17px;
  font-size: 1.0625rem; }

b, strong, .b, .strong {
  font-weight: bold; }

mark {
  background-color: #fffFD7;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #effcff; }

p {
  margin: 0; }
  p + p {
    margin-top: 0.25rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #effcff; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.list-inline, .list-unstyled, .foot-contact {
  list-style: none;
  padding-left: 0; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li:not(:last-child) {
    margin-right: 5px; }

.clearfix::after, .wrap::after {
  content: "";
  display: table;
  clear: both; }

.text-hide, .foot-logo {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.clear {
  clear: both; }

[hidden], .hidden {
  display: none; }

.circle {
  border-radius: 50%; }

.img-center {
  display: block;
  margin: auto; }

.rest {
  overflow: hidden; }

.w-100 {
  width: 100%; }

.full {
  max-width: 100%; }

.center, .wrap {
  margin-right: auto;
  margin-left: auto; }

.m-0 {
  margin: 0; }

.mt-0 {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0, .logo {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-2 {
  margin: 0.125rem; }

.mt-2 {
  margin-top: 0.125rem; }

.mr-2 {
  margin-right: 0.125rem; }

.mb-2 {
  margin-bottom: 0.125rem; }

.ml-2 {
  margin-left: 0.125rem; }

.mx-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-4 {
  margin: 0.25rem; }

.mt-4 {
  margin-top: 0.25rem; }

.mr-4, .foot-contact span {
  margin-right: 0.25rem; }

.mb-4, .box li {
  margin-bottom: 0.25rem; }

.ml-4 {
  margin-left: 0.25rem; }

.mx-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-8 {
  margin: 0.5rem; }

.mt-8 {
  margin-top: 0.5rem; }

.mr-8 {
  margin-right: 0.5rem; }

.mb-8, .foot-contact .tel, .foot-contact .fax {
  margin-bottom: 0.5rem; }

.ml-8 {
  margin-left: 0.5rem; }

.mx-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-12 {
  margin: 0.75rem; }

.mt-12, .box li {
  margin-top: 0.75rem; }

.mr-12 {
  margin-right: 0.75rem; }

.mb-12 {
  margin-bottom: 0.75rem; }

.ml-12 {
  margin-left: 0.75rem; }

.mx-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-16 {
  margin: 1rem; }

.mt-16 {
  margin-top: 1rem; }

.mr-16 {
  margin-right: 1rem; }

.mb-16 {
  margin-bottom: 1rem; }

.ml-16 {
  margin-left: 1rem; }

.mx-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-24 {
  margin: 1.5rem; }

.mt-24, .logo {
  margin-top: 1.5rem; }

.mr-24 {
  margin-right: 1.5rem; }

.mb-24, .box h2 {
  margin-bottom: 1.5rem; }

.ml-24, .box li {
  margin-left: 1.5rem; }

.mx-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-32 {
  margin: 2rem; }

.mt-32, .box h2 {
  margin-top: 2rem; }

.mr-32 {
  margin-right: 2rem; }

.mb-32, .box {
  margin-bottom: 2rem; }

.ml-32 {
  margin-left: 2rem; }

.mx-32, .box ul {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-48 {
  margin: 3rem; }

.mt-48 {
  margin-top: 3rem; }

.mr-48 {
  margin-right: 3rem; }

.mb-48, .box ul {
  margin-bottom: 3rem; }

.ml-48 {
  margin-left: 3rem; }

.mx-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-64 {
  margin: 4rem; }

.mt-64 {
  margin-top: 4rem; }

.mr-64 {
  margin-right: 4rem; }

.mb-64 {
  margin-bottom: 4rem; }

.ml-64 {
  margin-left: 4rem; }

.mx-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.my-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-0 {
  padding: 0; }

.pt-0, .logo span {
  padding-top: 0; }

.pr-0 {
  padding-right: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.px-0 {
  padding-right: 0;
  padding-left: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-2 {
  padding: 0.125rem; }

.pt-2 {
  padding-top: 0.125rem; }

.pr-2 {
  padding-right: 0.125rem; }

.pb-2 {
  padding-bottom: 0.125rem; }

.pl-2 {
  padding-left: 0.125rem; }

.px-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.py-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-4 {
  padding: 0.25rem; }

.pt-4 {
  padding-top: 0.25rem; }

.pr-4 {
  padding-right: 0.25rem; }

.pb-4 {
  padding-bottom: 0.25rem; }

.pl-4 {
  padding-left: 0.25rem; }

.px-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-8 {
  padding: 0.5rem; }

.pt-8 {
  padding-top: 0.5rem; }

.pr-8 {
  padding-right: 0.5rem; }

.pb-8 {
  padding-bottom: 0.5rem; }

.pl-8 {
  padding-left: 0.5rem; }

.px-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py-8, .goTop {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-12 {
  padding: 0.75rem; }

.pt-12 {
  padding-top: 0.75rem; }

.pr-12 {
  padding-right: 0.75rem; }

.pb-12 {
  padding-bottom: 0.75rem; }

.pl-12 {
  padding-left: 0.75rem; }

.px-12 {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-16 {
  padding: 1rem; }

.pt-16 {
  padding-top: 1rem; }

.pr-16 {
  padding-right: 1rem; }

.pb-16 {
  padding-bottom: 1rem; }

.pl-16 {
  padding-left: 1rem; }

.px-16, .goTop {
  padding-right: 1rem;
  padding-left: 1rem; }

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-24 {
  padding: 1.5rem; }

.pt-24 {
  padding-top: 1.5rem; }

.pr-24 {
  padding-right: 1.5rem; }

.pb-24 {
  padding-bottom: 1.5rem; }

.pl-24 {
  padding-left: 1.5rem; }

.px-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-32 {
  padding: 2rem; }

.pt-32 {
  padding-top: 2rem; }

.pr-32 {
  padding-right: 2rem; }

.pb-32 {
  padding-bottom: 2rem; }

.pl-32 {
  padding-left: 2rem; }

.px-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-48 {
  padding: 3rem; }

.pt-48 {
  padding-top: 3rem; }

.pr-48 {
  padding-right: 3rem; }

.pb-48 {
  padding-bottom: 3rem; }

.pl-48 {
  padding-left: 3rem; }

.px-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-64 {
  padding: 4rem; }

.pt-64 {
  padding-top: 4rem; }

.pr-64 {
  padding-right: 4rem; }

.pb-64 {
  padding-bottom: 4rem; }

.pl-64 {
  padding-left: 4rem; }

.px-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.text-left, .logo {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-nowrap {
  white-space: nowrap; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-white, .btn.white:hover, .btn.white:active, .btn.white.active, #footer a, .goTop, .goTop:hover, .goTop:active, .slogan {
  color: #fff; }

.text-black {
  color: #000; }

.bg-white, .btn.white {
  background-color: #fff; }

.bg-black, .copyright, #banner {
  background-color: #000; }

.text-primary, .btn.white, .logo span, .mobile-toggle {
  color: #2D385E; }

.bg-primary {
  background-color: #2D385E; }

.hover-primary {
  color: #2D385E; }
  .hover-primary:hover, .hover-primary:active {
    color: #14192a; }

.text-secondary, .logo small {
  color: #017E9C; }

.bg-secondary {
  background-color: #017E9C; }

.hover-secondary {
  color: #017E9C; }
  .hover-secondary:hover, .hover-secondary:active {
    color: #014150; }

.text-muted {
  color: #E5E5E5; }

.bg-muted {
  background-color: #E5E5E5; }

.hover-muted {
  color: #E5E5E5; }
  .hover-muted:hover, .hover-muted:active {
    color: #bfbfbf; }

.text-success {
  color: #9e8467; }

.bg-success {
  background-color: #9e8467; }

.hover-success {
  color: #9e8467; }
  .hover-success:hover, .hover-success:active {
    color: #715d48; }

.text-info {
  color: #1D243D; }

.bg-info {
  background-color: #1D243D; }

.hover-info {
  color: #1D243D; }
  .hover-info:hover, .hover-info:active {
    color: #040509; }

.text-warning {
  color: #FCB037; }

.bg-warning {
  background-color: #FCB037; }

.hover-warning {
  color: #FCB037; }
  .hover-warning:hover, .hover-warning:active {
    color: #e38d03; }

.text-danger {
  color: #FF2200; }

.bg-danger {
  background-color: #FF2200; }

.hover-danger {
  color: #FF2200; }
  .hover-danger:hover, .hover-danger:active {
    color: #b31800; }

[class*="text-"].disabled, [class*="text-"][disabled],
[class*="hover-"].disabled,
[class*="hover-"][disabled] {
  cursor: not-allowed;
  color: #E5E5E5; }

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background: #01738F;
  color: #fff;
  font-size: 1rem;
  line-height: 28px;
  padding: 8px 0;
  border-radius: 0;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  letter-spacing: 1px; }
  .btn:hover, .btn:active, .btn:focus, .btn.active {
    background: #015b71;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background: #E5E5E5; }
  .btn.success {
    background: #9e8467; }
    .btn.success:hover, .btn.success:active, .btn.success.active {
      background: #ae9880; }
  .btn.info {
    background: #1D243D; }
    .btn.info:hover, .btn.info:active, .btn.info.active {
      background: #2a3459; }
  .btn.warning {
    background: #FCB037; }
    .btn.warning:hover, .btn.warning:active, .btn.warning.active {
      background: #fdc05f; }
  .btn.danger {
    background: #FF2200; }
    .btn.danger:hover, .btn.danger:active, .btn.danger.active {
      background: #ff4529; }
  .btn.white:hover, .btn.white:active, .btn.white.active {
    background: #3a487a; }

/*      layout
-----------------------------------------------------------------------*/
.wrap {
  max-width: 1400px; }
  @media (max-width: 87.4375em) {
    .wrap {
      padding-left: 16px;
      padding-left: 1rem;
      padding-right: 16px;
      padding-right: 1rem; } }

#wrapper {
  min-height: 100%; }
  @media (min-width: 64em) {
    #wrapper {
      padding-bottom: 310px; } }

#header {
  background: rgba(255, 255, 255, 0.95);
  height: 130px;
  z-index: 3;
  width: 100%;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  @media (max-width: 35.4375em) {
    #header {
      height: 80px; } }
  #header .wrap {
    position: relative; }
  #header.scrolling {
    position: fixed;
    height: 48px; }
  #header:hover {
    background: #fff; }

.scrolling {
  -webkit-animation: scrolling 1s alternate both;
  animation: scrolling 1s alternate both; }
@-webkit-keyframes scrolling {
  from {
    opacity: 0.5;
    top: -130px; }
  to {
    opacity: 1;
    top: 0; } }
@keyframes scrolling {
  from {
    opacity: 0.5;
    top: -130px; }
  to {
    opacity: 1;
    top: 0; } }
.logo {
  cursor: pointer;
  cursor: hand;
  background: url(../images/logo.gif) 0 0 no-repeat;
  background-size: contain;
  height: 81px;
  min-width: 72px;
  padding-left: 88px; }
  @media (max-width: 35.4375em) {
    .logo {
      margin-top: 6px;
      height: 68px;
      padding-left: 72px; } }
  .scrolling .logo {
    height: 44px;
    margin-top: 2px; }
  .scrolling .logo .mobile-show,
  .scrolling .logo .mobile-hide {
    display: none; }
  @media (min-width: 35.5em) {
    .logo .mobile-show {
      display: none; } }
  @media (max-width: 35.4375em) {
    .logo .mobile-hide {
      display: none; } }
  .logo span {
    letter-spacing: .05em; }
  .logo small {
    letter-spacing: .07em; }

.head-info {
  letter-spacing: 0.28125em;
  color: #d8d8d8;
  position: absolute;
  top: 13px;
  right: 0; }
  @media (min-width: 75em) {
    .head-info {
      right: 24px; } }
  @media (max-width: 74.9375em) {
    .head-info {
      right: 16px; } }
  @media (max-width: 35.4375em) {
    .head-info {
      top: 6px; } }
  .scrolling .head-info {
    display: none; }

#footer {
  background: #000 url(../images/footerBg.jpg) center bottom no-repeat fixed;
  color: #fff;
  position: relative; }
  @media (min-width: 64em) {
    #footer {
      margin-top: -306px;
      z-index: 2; } }
  #footer::after {
    content: '';
    display: block; }
    @media (min-width: 35.5em) {
      #footer::after {
        width: 93px;
        height: 95px;
        background: url(../images/footImg.png) 0 0 no-repeat;
        position: absolute;
        bottom: 0; } }
    @media (min-width: 87.5em) {
      #footer::after {
        left: 50%;
        margin-left: 607px; } }
    @media (max-width: 87.4375em) {
      #footer::after {
        right: 8px; } }
  @media (min-width: 64em) {
    #footer .wrap {
      min-height: 270px; } }
  @media (max-width: 63.9375em) {
    #footer .wrap {
      padding-bottom: 24px; } }
  #footer a {
    position: relative; }
    #footer a::after {
      border-bottom: 1px solid #fff;
      width: 0;
      -webkit-transition: 0.35s;
      transition: 0.35s;
      position: absolute;
      bottom: 0;
      left: 50%; }
      #footer a::after, .swiper-wrapper::after {
        content: '';
        display: block; }
    #footer a:hover::after, #footer a:active::after {
      width: 100%;
      left: 0; }

.foot-logo {
  background: url(../images/foot-logo.gif) center 0 no-repeat;
  height: 82px;
  margin-top: 83.3333333333px; }
  @media (max-width: 63.9375em) {
    .foot-logo {
      margin-top: 27.7777777778px; } }
  @media (max-width: 41.625em) {
    .foot-logo {
      background-size: contain; } }
.foot-contact {
  text-align: left;
  margin-top: 87.3333333333px; }
  @media (max-width: 63.9375em) {
    .foot-contact {
      margin-top: 31.7777777778px; } }
  @media (max-width: 47.9375em) {
    .foot-contact {
      padding-left: 16px; } }
  .foot-contact .tel, .foot-contact .fax {
    display: inline-block;
    font-size: 17px;
    font-size: 1.0625rem; }
    @media (min-width: 41.6875em) {
      .foot-contact .tel, .foot-contact .fax {
        letter-spacing: 2px;
        margin-right: 16px; } }
  .foot-contact span {
    display: inline-block;
    letter-spacing: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #017E9C; }

.copyright {
  line-height: 40px;
  letter-spacing: 1px; }

#menu {
  z-index: 20; }
  @media (min-width: 75em) {
    #menu {
      float: right;
      clear: right;
      margin-top: 67px; }
      .scrolling #menu {
        margin-top: 0; } }
  @media (max-width: 74.9375em) {
    #menu {
      background: rgba(234, 234, 234, 0.8);
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
      width: 100%;
      overflow-y: auto;
      opacity: 0;
      visibility: hidden;
      z-index: 999;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      padding: 78px 16px 16px; }
      .scrolling #menu {
        padding-top: 52px; }
      .mobile-menu-body #menu {
        opacity: 1;
        visibility: visible; } }

.nav-item {
  display: inline-block;
  letter-spacing: 1px;
  -webkit-transition: 0.35s;
  transition: 0.35s; }
  @media (min-width: 75em) {
    .nav-item {
      color: #2D385E;
      padding: 0 24px 36px;
      font-size: 18px;
      font-size: 1.125rem; }
      .scrolling .nav-item {
        line-height: 1;
        padding-top: 15px;
        padding-bottom: 15px; }
      .nav-item:hover, .nav-item:active {
        color: #d48303; }
      .nav-item:hover, .nav-item:active, .nav-item.current {
        border-bottom: 3px solid #FCB037; } }
  @media (max-width: 74.9375em) {
    .nav-item {
      display: table;
      width: 50%;
      min-width: 300px;
      padding: 8px 0;
      margin: auto;
      font-size: 2.625rem;
      background: #fff;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.06);
      -webkit-animation: muit 0.8s forwards;
      animation: muit 0.8s forwards; }
    @-webkit-keyframes muit {
      from {
        opacity: 0;
        margin-top: 0; }
      to {
        opacity: 1;
        margin-top: 12px; } }
    @keyframes muit {
      from {
        opacity: 0;
        margin-top: 0; }
      to {
        opacity: 1;
        margin-top: 12px; } }
      .nav-item:hover, .nav-item:active, .nav-item.current {
        color: #fff;
        background-color: #017E9C;
        box-shadow: 0 3px 0 #FCB037; } }
  @media (max-width: 41.6875em) {
    .nav-item {
      width: 100%;
      font-size: 2.125rem; } }

.mobile-menu-body {
  overflow-y: hidden; }

.mobile-toggle {
  display: none;
  background: none;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
  float: right;
  clear: right;
  margin-top: 45px;
  position: relative; }
  @media (max-width: 74.9375em) {
    .mobile-toggle {
      display: block; } }
  .mobile-toggle:focus {
    box-shadow: none; }
  @media (max-width: 35.4375em) {
    .mobile-toggle {
      margin-top: 24px; } }
  .scrolling .mobile-toggle {
    margin-top: 0; }

.font-tiny, .copyright {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-sm, .logo small {
  font-size: 15px;
  font-size: 0.9375rem; }

.font-md {
  font-size: 16px;
  font-size: 1rem; }

.font-lg, .goTop {
  font-size: 18px;
  font-size: 1.125rem; }

.font-ll {
  font-size: 21px;
  font-size: 1.3125rem; }

.font-xl, .logo span, .mobile-toggle {
  font-size: 25px;
  font-size: 1.5625rem; }

.font-xxl {
  font-size: 30px;
  font-size: 1.875rem; }

.font-xxxl {
  font-size: 54px;
  font-size: 3.375rem; }

.font-jumbo {
  font-size: 64px;
  font-size: 4rem; }

.goTop {
  z-index: 99;
  opacity: 0;
  border-radius: 0.25rem border-radius 0 0;
  background: rgba(0, 0, 0, 0.35);
  position: fixed;
  right: 12px;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .goTop:hover, .goTop:active {
    background: rgba(0, 0, 0, 0.7); }

.fade-in {
  -webkit-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fade-out {
  -webkit-animation: fadeOut 1s 1 forwards;
  animation: fadeOut 1s 1 forwards; }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
.font-ming {
  font-family: 'cwTeXMing', serif;
  font-weight: 400;
  src: url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot");
  src: url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot?#iefix") format("embedded-opentype"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff2") format("woff2"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff") format("woff"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.ttf") format("truetype"); }

.font-en, .copyright {
  font-family: 'Lusitana', serif; }

#banner, .swiper-slide {
  height: 730px; }
  @media (min-width: 35.5em) and (max-width: 48em) {
    #banner, .swiper-slide {
      height: 500px; } }
  @media (max-width: 35.5em) {
    #banner, .swiper-slide {
      height: 360px; } }

#banner {
  position: relative;
  width: 100%; }

.swiper-wrapper::after {
  background: rgba(45, 56, 94, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  @media (max-width: 48em) {
    .swiper-slide {
      background-size: cover; } }

.slogan {
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: 5.4px;
  text-shadow: 1px 1px 15px;
  z-index: 5;
  font-size: 54px;
  font-size: 3.375rem;
  position: absolute;
  top: 52%;
  right: 0;
  left: 0; }
  @media (max-width: 47.9375em) {
    .slogan {
      font-size: 2.625rem;
      letter-spacing: 1px;
      padding-left: 16px;
      padding-right: 16px; } }
  @media (max-width: 35.5em) {
    .slogan {
      font-size: 2.25rem; } }
  .slogan small {
    text-shadow: none;
    font-size: 57%; }
    @media (min-width: 48em) {
      .slogan small {
        letter-spacing: 2px;
        transform: scale(1.1, 1); } }

.intro {
  background: url(../images/index/introBg.gif) 70% 10px no-repeat;
  padding-top: 53px;
  padding-bottom: 73px; }
  @media (min-width: 23.4375em) {
    .intro h1 {
      letter-spacing: 6px; } }
  @media (max-width: 41.6875em) {
    .intro h1 {
      font-size: 45px;
      font-size: 2.8125rem; } }
  .intro h4 {
    letter-spacing: 1px;
    line-height: 1.3; }
  .intro p {
    color: #8c8c8c;
    letter-spacing: 1px;
    opacity: 0; }
  @media (max-width: 48em) {
    .intro h4, .intro p {
      text-align: left; } }

.service {
  padding-top: 95px;
  padding-bottom: 132px;
  background: url(../images/index/serviceBg.gif) right 0 no-repeat, #E5E5E5 url(../images/index/serviceBg2.gif) 0 bottom no-repeat; }
  @media (max-width: 48em) {
    .service {
      padding-bottom: 95px; } }

.box {
  border-top: 2px solid #fff;
  background-color: #f2f2f2;
  letter-spacing: 2px; }
  @media (min-width: 64em) {
    .box {
      display: inline-block;
      vertical-align: top;
      width: 28%;
      margin-left: 12px;
      margin-right: 12px; } }
  @media (min-width: 87.5em) {
    .box {
      width: 26.5%;
      margin-left: 32px;
      margin-right: 32px; } }
  @media (min-width: 35.5em) and (max-width: 63.9375em) {
    .box {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto; } }
  .box h2 {
    text-shadow: 0.2px 0 0;
    font-size: 27px;
    font-size: 1.6875rem; }
  @media (min-width: 64em) {
    .box ul {
      margin-bottom: 60px; } }
  @media (max-width: 41.6875em) {
    .box ul {
      margin-left: 16px;
      margin-right: 16px; } }
  .box li {
    line-height: 1.2;
    opacity: 0; }
    .box li::before {
      color: #d1d1d1;
      text-indent: -24px;
      margin-right: 0 !important; }

.flyIn {
  -webkit-animation: fly 1.5s both;
  animation: fly 1.5s both; }
@-webkit-keyframes fly {
  from {
    margin-left: -50px; }
  to {
    opacity: 1;
    margin-left: 0; } }
@keyframes fly {
  from {
    margin-left: -50px; }
  to {
    opacity: 1;
    margin-left: 0; } }
.fadeIn {
  -webkit-animation: fade 1.5s both;
  animation: fade 1.5s both; }
@-webkit-keyframes fade {
  to {
    opacity: 1; } }
@keyframes fade {
  to {
    opacity: 1; } }
