@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$isPage:                 true;
$font-size-h2: 45px;
$img-index: '../images';
// import
// ------------------------------------------------------------
@import "core/function";     // (置頂)

@import "_client/setting";   // 前台用變數
@import "core/variables";
@import "core/mixins";

// 由此 output css
@import "vendor/normalize";  // 重置樣式
@import "vendor/print";      // 列印樣式

@import "element/basic";
@import "element/link";
@import "element/type";
@import "element/util";
@import "element/btn";

@import "_client/layout";


@import "_client/custom";   // 本專案自定樣式


// main
// ------------------------------------------------------------
#wrapper {
    .wrap {
        .headLogo {
            @include mq(wide,wider) {
                margin-left: 1em;
            }
        }

        .navMenu {
            #current {
                @include mq($min: wide) {
                    border-bottom-style: solid;
                    height: 4em;
                    border-bottom-width: 4px;
                    border-bottom-color: #FFC107;
                    color: darkblue;

                    &:hover {
                        color: darkblue;
                    }

                    &::after {
                        content: '';
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 8px solid #FFC107;
                        margin-top: 2em;
                        float: left;
                        margin-left: 3.1vw;
                        @include mq-add-breakpoint(secondScreen, 1550px);

                        @include mq(wide,secondScreen) {
                            margin-left: 4vw;
                        }

                        @include mq(wide,wider) {
                        }
                    }
                }
            }
        }
    }
}


.headLine {
    border-top: solid;
    border-color: whitesmoke;
    border-width: 4px;
    margin-top:-4px;
}
