@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$isPage:                 true;
$font-size-h2:           45px;


// import
// ------------------------------------------------------------
@import "core/function";     // (置頂)

@import "_client/setting";   // 前台用變數
@import "core/variables";
@import "core/mixins";

// 由此 output css
@import "vendor/normalize";  // 重置樣式
@import "vendor/print";      // 列印樣式

@import "element/basic";
@import "element/link";
@import "element/type";
@import "element/util";
@import "element/btn";

@import "_client/layout";
@import "_client/modules/nav";


@import "_client/custom";   // 本專案自定樣式


// main
// ------------------------------------------------------------
/// 分頁 Header ///
// #wrapper {
//     .wrap {
//         .headLogo {
//             @include mq(wide,wider) {
//                 margin-left: 1em;
//             }
//         }

//         .navMenu {
//             #current {
//                 @include mq($min: wide) {
//                     border-bottom-style: solid;
//                     height: 4em;
//                     border-bottom-width: 4px;
//                     border-bottom-color: #FFC107;
//                     color: darkblue;

//                     &:hover {
//                         color: darkblue;
//                     }

//                     &::after {
//                         content: '';
//                         border-left: 8px solid transparent;
//                         border-right: 8px solid transparent;
//                         border-bottom: 8px solid #FFC107;
//                         margin-top: 2em;
//                         float: left;
//                         margin-left: 3.1vw;
//                         @include mq-add-breakpoint(secondScreen, 1550px);

//                         @include mq(wide,secondScreen) {
//                             margin-left: 4vw;
//                         }

//                         @include mq(wide,wider) {
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }


.headLine {
    border-top: solid;
    border-color: whitesmoke;
    border-width: 4px;
    margin-top:-4px;
}


/// Contact html ///

.Contact {
    > h2, > h3 {
        color: #01738F;
    }

    .contactBoxArea {
        @include mq-max(desktop) {
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
        }

        .contactBox {
            display: inline-block;
            margin-top: 5em;

            @include mq-max(tablet) {
                width: 100%
            }

            .circle {
                background-color: lightgray;
                padding: 20px;
                width: 140px;
                display: inline-block;

                @include mq(mobile,tablet) {
                    width: 170px;
                }

                > img {
                    @include mq(mobile,tablet) {
                        width: 130px;
                    }
                }
            }

            > nobr {
                display: block;
                letter-spacing: 1px;
                font-weight: 600;
                color: #01738F;

                @include mq(desktop,wide) {
                    @include rem('font-size', 16);
                }

                @include mq(mobile,tablet) {
                    @include rem('font-size', 21);
                }
            }
        }
    }

    .contactLine {
        width: 10px;
        height: 35em;
        display: grid;
        background-color: #7682a7;
        border-radius: 10px;

        @include mq-max(desktop) {
            display: none;
        }
    }

    .contactMap {
        height: 32em;
        margin-top: 5em;
        border-style: ridge;

        @include mq(tablet,desktop) {
            width: 70%;
            margin-right: 15%;
        }

        @include mq(phone,tablet) {
            width: 80%;
            margin-right: 10%;
            height: 25em;
        }

        @include mq(mobile,phone) {
            margin-top: 3em;
            width: 90%;
            margin-right: 5%;
            height: 23em;
            margin-bottom: 10vh;
        }

        @include mq-max(mobile) {
            margin-top: 3em;
            width: 100%;

            height: 15em;
            margin-bottom: 3em;
        }
    }
}