@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$isPage:                 true;

// $font-size-h2:           45px;
$headings-color:         #017E9C;


// import
// ------------------------------------------------------------
@import "core/function";     // (置頂)

@import "_client/setting";   // 前台用變數
@import "core/variables";
@import "core/mixins";

// 由此 output css
@import "vendor/normalize";  // 重置樣式
@import "vendor/print";      // 列印樣式

@import "element/basic";
@import "element/link";
@import "element/type";
// @import "element/btn";
@import "element/util";

@import "_client/layout";
@import "_client/modules/nav";


@import "_client/custom";   // 本專案自定樣式


// main
// ------------------------------------------------------------

// == AboutsUs
.AboutUs {
    article {
        @include mq(tablet) {
            padding-right: 32px;
        }

        li {
            @extend .mb-12;

            &::before {
                color: darken(color(muted), 12);
            }
        }
    }
}
.about-slogan {
    @extend .text-white, .font-xl;

    background: lighten(color(), 5);
    border-top: 3px solid color(muted);
    border-bottom: 3px solid lighten(color(), 8);

    @include mq-max(phone) {
        text-align: left;
    }

    span {
        @extend .my-12;
        line-height: 1.2;
        letter-spacing: .1em;
    }
}

// == Service
.service {

    // main content
    &-content {
        position: relative;

        @include el(before, $ext: false) {
            @include mq(desktop) {
                background: color(muted);
                width: 33.8%;
                height: 100%;

                @include absolute(right 0 top 0);
            }
        }

        aside {
            @include mq-max(break(desktop, -1)) {
                margin-left: -16px;
                margin-right: -16px;
            }

            img {
                width: 100%;
                margin: auto auto 24px;

                @include mq(desktop) {
                    display: block;
                }

                @include mq(phone, break(desktop, -1)) {
                    width: auto;
                    max-width: 30%;
                    height: 150px;
                    margin: 0 1%;
                }
            }
        }
    }

    // 項目列表
    &-item {
        @extend .mb-32;

        @include mq(tablet) {
            padding-right: 36px;
        }

        dt {
            @extend .font-xl, .text-secondary, .pb-8, .mb-8;

            font-weight: normal;
            letter-spacing: 1px;
            line-height: 1.2;
        }

        dd {
            @extend .mb-12, .ml-24;

            line-height: 1.2;

            &::before {
                color: darken(color(muted), 8);
                text-indent: -24px;
                margin-right: 0 !important;
            }

            &:hover {
                color: darken(color(secondary), 5);

                &::before {
                    color: color(warning);
                }
            }
        }
    }
}


// == 公司實績
.perform-list {
    @extend %list-unstyled;

    @include mq(phone) {
        margin-left: -4px;
        margin-right: -4px;
    }
    @include mq(desktop) {
        margin-left: -12px;
    }

    li {
        @extend .py-8, .px-16, .mb-16;

        // border: 1px solid darken(color(muted), 5);
        // box-shadow: 0 0 8px color(muted);
        border-top: 2px solid lighten(color(muted), 3);
        background-color: lighten(color(muted), 5);
        letter-spacing: 2px;

        @include transition(.3s);

        &:hover {
            @extend .bg-secondary, .text-white;

            border-color: color(warning);
        }

        @include mq(phone) {
            display: inline-block;
            vertical-align: top;
            margin-left: 4px;
            margin-right: 4px;
            width: calc(50% - 12px);
        }
        @include mq(desktop) {
            margin-left: 12px;
            margin-right: 12px;
            width: 29%;
        }
    }
}

//== Contact html
#map {
    height: 460px;

    @include mq(desktop) {
        margin-bottom: 48px;
    }

    @include mq-max(break(desktop, -1)) {
        margin-left: -16px;
        margin-right: -16px;
    }
}

.contacts {
    @extend .text-center, .text-secondary;

    @include mq(phone) {
        @include rem('font-size', 18);
    }

    @include mq-max(break(phone, -1)) {
        text-align: left;
    }

    li {
        @include mq(phone) {
            display: inline-block;
            margin: 16px -2px;
            width: 50%;
        }
    }

    i {
        @extend .font-xxl, .center, .text-primary, .mb-12;

        display: block;
        background: lighten(color(muted), 4);

        @include circle(90px, center);

        &::before {
            text-shadow: 0 0 5px rgba(color(), .2);
        }

        @include mq-max(break(phone, -1)) {
            display: inline-block;
            margin-right: 12px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: rem(20);
            position: relative;
            z-index: 1;
        }
    }

    a {
        @extend .hover-underline;

        &::after {
            border-color: color(warning);
        }
    }

    // .contactBoxArea {
    //     @include mq-max(desktop) {
    //         width: 100%;
    //         padding-left: 10%;
    //         padding-right: 10%;
    //     }

    //     .contactBox {
    //         display: inline-block;
    //         margin-top: 5em;

    //         @include mq-max(tablet) {
    //             width: 100%
    //         }

    //         .circle {
    //             background-color: lightgray;
    //             padding: 20px;
    //             width: 140px;
    //             display: inline-block;

    //             @include mq(mobile,tablet) {
    //                 width: 170px;
    //             }

    //             > img {
    //                 @include mq(mobile,tablet) {
    //                     width: 130px;
    //                 }
    //             }
    //         }

    //         > nobr {
    //             display: block;
    //             letter-spacing: 1px;
    //             font-weight: 600;
    //             color: #01738F;

    //             @include mq(desktop,wide) {
    //                 @include rem('font-size', 16);
    //             }

    //             @include mq(mobile,tablet) {
    //                 @include rem('font-size', 21);
    //             }
    //         }
    //     }
    // }

    // .contactLine {
    //     width: 10px;
    //     height: 35em;
    //     display: grid;
    //     background-color: #7682a7;
    //     border-radius: 10px;

    //     @include mq-max(desktop) {
    //         display: none;
    //     }
    // }

    // .contactMap {
    //     height: 32em;
    //     margin-top: 5em;
    //     border-style: ridge;

    //     @include mq(tablet,desktop) {
    //         width: 70%;
    //         margin-right: 15%;
    //     }

    //     @include mq(phone,tablet) {
    //         width: 80%;
    //         margin-right: 10%;
    //         height: 25em;
    //     }

    //     @include mq(mobile,phone) {
    //         margin-top: 3em;
    //         width: 90%;
    //         margin-right: 5%;
    //         height: 23em;
    //         margin-bottom: 10vh;
    //     }

    //     @include mq-max(mobile) {
    //         margin-top: 3em;
    //         width: 100%;

    //         height: 15em;
    //         margin-bottom: 3em;
    //     }
    // }
}

// == connect
.links {
    li {
        @extend .my-8;

        display: inline-block;
        margin-right: -8px;

        @include grid-gap(1,2, 1.6%);

        &:nth-child(odd) {
            margin-right: 1.6%;
        }
    }

    a {
        @extend .font-lg, .hover-underline;

        letter-spacing: 1px;

        &::after {
            border-color: color(warning);
        }
    }
}