@charset "UTF-8";

// == 主選單
// ------------------------------------------------------------

$mobile-nav-height: 48px;

#menu {
    z-index: z(menu);

    // 本次專案
    @include mq($mobile-menu-bk) {
        float: right;
        clear: right; // 清除top-info的浮動
        margin-top: 67px;

        .scrolling & {
            margin-top: 0;
        }
    }

    // #{$nav-root} {
    // }

    // 子選單
    @if $sub-nav-has {
        ul {
            @extend .mb-0;

            @include mq($mobile-menu-bk) {
                letter-spacing: -0.31em;       //* Webkit: collapse white-space between units
                *letter-spacing: normal;       //* reset IE < 8
                *word-spacing: -0.43em;        //* IE < 8: collapse white-space between units
                text-rendering: optimizespeed; //* Webkit: fixes text-rendering: optimizeLegibility
            }
            @include mq-max(break($mobile-menu-bk, -1)) {
                padding-left: 0;
                padding-right: 0;

                // 本次專案: 行動版面
                z-index: z(overlay);

                // @include fixed(bottom 0 top $header-mobile-height); -用js取 top 高度
                @include fixed(bottom 0);
                @if $mobile-menu-bg    { background: $mobile-menu-bg; }
                @if $mobile-transition { @include transition($mobile-transition); }
                overflow-y: auto;
                width: $mobile-menu-width;
                left: -$mobile-menu-width;
                text-align: left;

                #{$mobile-body-class} & {
                    left: 0;
                }
                .scrolled & {
                    top: $header-mobile-height;
                }
            }
        }

        li {
            @include mq($mobile-menu-bk) {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                z-index: 1;
                *display: inline;
                letter-spacing: normal;
            }
            // 子選單顯示
            &:hover {
                .sub-nav {

                    @include mq($mobile-menu-bk) {
                        opacity: 1;
                        visibility: visible;
                    }
                    @include mq-max(break($mobile-menu-bk, -1)) {
                        display: block;
                    //     position: static;
                    }
                }
            }
        }
        .sub-nav {
            // visibility: hidden;
            // opacity: 0;

            // 本次專案
            @extend .py-12, .text-left;


            @include mq($mobile-menu-bk) {
                opacity: 0;
                visibility: hidden;

                background-color: #fff;
                min-width: 135px;

                @include transition(.2s); // 這不能跟jquery slideToggle同時用，會有奇怪抖動
                @include absolute(top 100% left 0 right 0);

                @if $isPage {
                    box-shadow: 0 8px 13px rgba(color(), .25);
                }
            }

            @include mq-max(break($mobile-menu-bk, -1)) {
                display: none;
                padding-left: 20px;
                background-color: darken(color(), 4);
            }

            a {
                @extend .p-8;

                line-height: 1.25;
                display: block;
                position: relative;
                padding-left: 18px;

                @include rem('font-size', 15px);
                @include icon-arrow(right, 7px, color(secondary), left 8px top 14px);


                &:hover, &:active, &.current {
                    @extend .text-secondary;
                    &::before {
                        border-left-color: color(muted);
                    }
                }

                @include mq-max(break($mobile-menu-bk,-1)) {
                    color: rgba(#fff, .85);
                }
            }
        }
    }

    // 行動版面
    @if $mobile-menu-has {
        @include mq-max(break($mobile-menu-bk, -1)) {
            @if $mobile-menu-bg    { background: $mobile-menu-bg; }
            @if $mobile-transition { @include transition($mobile-transition); }

            width: $mobile-menu-width;
            overflow-y: auto;
            opacity: 0;
            visibility: hidden;
            z-index: z(overlay);

            @include fixed(top 0 left 0);

            // 本次專案
            height: 100%;
            // padding: 42px 16px 16px 16px;
            padding: ($header-scrolling+30) 16px 16px;

            .scrolling & {
                padding-top: ($header-scrolling+4);
            }

            #{$mobile-body-class} & {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

#{$nav-root} {
    display: inline-block;
    letter-spacing: 1px;

    @include transition(.35s);

    @include mq($mobile-menu-bk) {
        color: color();
        padding: 0 24px 36px;

        @include rem('font-size', 18px);

        .scrolling & {
            line-height: 1;
            padding-top: ($header-scrolling - 18)/2;
            padding-bottom: ($header-scrolling - 18)/2;
        }

        // 當前選單樣式
        &:hover, &:active {
            color: darken(color(warning), 18);
        }
        &:hover, &:active, &.current {
            border-bottom: 3px solid color(warning);
        }
    }

    // 行動版樣式
    @include mq-max(break($mobile-menu-bk, -1)) {
        display: table;
        width: 50%;
        min-width: 300px;
        padding: 8px 0;
        margin: auto;

        font-size: rem(42);
        background: #fff;
        box-shadow: 0 3px 0 rgba(#000, .06);

        @include diy-animate(muit, .8s forwards) {
            from {
                opacity: 0;
                margin-top: 0;
            }

            to {
                opacity: 1;
                margin-top: 12px;
            }
        }

        &:hover, &:active, &.current {
            color: #fff;
            background-color: color(secondary);
            box-shadow: 0 3px 0 color(warning);
        }
    }
    @include mq-max(phone-plus) {
        width: 100%;
        font-size: rem(34);
    }
}


// == mobile-toggle
@if $mobile-menu-has {
    // body
    #{$mobile-body-class} {
        overflow-y: hidden;
    }

    // 點擊開啟主選單
    .mobile-toggle {
        display: none;
        background: none;
        cursor: pointer;
        z-index: z(overlay) + 1;

        @include transition(.3s);

        @include mq-max(break($mobile-menu-bk,-1)) {
            display: block;
        }

        &:focus {
            box-shadow: none;
        }

        // 本次專案
        @extend .font-xl, .text-primary;

        text-shadow: 1px 1px 0 rgba(#fff, .6);
        float: right;
        clear: right; // 清除top-info的浮動
        margin-top: 45px;
        position: relative;

        @include mq-max(break(phone, -1)) {
            margin-top: 24px;
        }

        .scrolling & {
            margin-top: 0;
        }
    }
}


// == by 小天
// .navMenu {

//     @include mq-max(break($mobile-menu-bk, -1)) {
//         display: none;
//     }

//     margin-top: 2.5em;

//     .nav-item {
//         color: #49598d;
//         font-weight: 100;
//         text-shadow: 0.5px 0 0;
//         display: inline-block;
//         width: 7vw;
//         @include mq-add-breakpoint(secondScreen, 1550px);

//         @include mq(wide,secondScreen) {
//             width: 9vw;
//         }

//         @include mq(wide,wider) {
//             white-space: nowrap;
//             margin-left: 0;
//         }


//         &:hover {
//             color: #FFC107;
//         }
//     }
//     // mobile 選單內容
//     .mobile-menu-item {
//         display: block;
//         margin-left: 0;
//         font-size: 50px;
//         width: 40%;
//         margin-left: 30%;
//         font-size: 50px;
//         border-style: ridge;
//         font-family: inherit;
//         background-color: gainsboro;
//         color: #888B8C;
//         text-shadow: 0 0 2px #fff;
//         border-color: white;
//         animation: MUIT 0.8s;
//         animation-fill-mode: both;

//         @include mq(phone,tablet) {
//             width: 50%;
//             margin-left: 25%;
//             font-size: 45px;
//         }

//         @include mq(mobile,phone) {
//             width: 60%;
//             margin-left: 20%;
//             font-size: 45px;
//         }

//         @include mq-max(mobile) {
//             width: 80%;
//             margin-left: 10%;
//             font-size: 40px;
//         }
//     }
//     // mobile 選單特效
//     @keyframes MUIT {
//         from {
//             opacity: 0;
//             margin-top: 0vh;
//         }

//         to {
//             opacity: 1;
//             margin-top: 7vh;
//         }
//     }
//     ////  mobile 目前頁面選單樣式
//     #current {

//         @include mq-max(break(wide,-1)) {
//             &:after {
//                 display: none;
//             }

//             color: #f1efed;
//             background-color: #01738F;
//             text-shadow: 1px 1px 5px #020101;
//         }
//     }
// }



// // RWD button 選單
// .mobile-toggle {
//     display: none;
//     background: none;
//     cursor: pointer;
//     z-index: z(overlay) + 1;
//     color: #073964;
//     @include transition(.3s);

//     @include mq-max(break($mobile-menu-bk,-1)) {
//         display: block;
//     }

//     &:focus {
//         box-shadow: none;
//     }
//     // 本次專案
//     @extend .font-xl;
//     text-shadow: 1px 1px 0 rgba(#fff, .6);

//     @include fixed(right 10px top 50px);
// }
// .ti-menu {
//     z-index: 9999;
//     -ms-transform: rotate(90deg);
//     -webkit-transform: rotate(90deg);
//     transform: rotate(-90deg);
// }
// ///  mobile 選單框架
// .mobile-menu {
//     position: absolute;
//     display: block;
//     width: 100%;
//     margin-top: 0;
//     margin-left: -1rem;
//     z-index: 9998;
//     padding-top:10vh;
//     animation: SHW 0.5s;
//     animation-fill-mode: both;
// }
// @keyframes SHW {
//     from {}

//     to {
//         height: 100%;
//         background: hsla(240, 0%, 50%, 0.6);
//     }
// }


// .mobile-menu-body {
//     overflow-y: hidden;
// }