@charset "UTF-8";

// == btn-custom
// ------------------------------------------------------------
.btn {
    // 各尺寸按鈕
    &.sm {
        @extend .font-sm, .py-0, .px-8;
    }
    &.lg {
        @extend .font-lg, .py-12, .px-32;
    }

    // 載入樣版
    &-template {
        // @include text-pic('temp1.gif', 75px, 50px, center);

        background-position: center 0;
        background-repeat: no-repeat;
        text-align: left;
        padding-top: 52px;
        min-width: 75px;

        &.temp1   { background-image: url(#{$img-path}/temp1.gif); }
        &.temp2   { background-image: url(#{$img-path}/temp2.gif); }
        &.temp3   { background-image: url(#{$img-path}/temp3.gif); }
        &.temp-t1 { background-image: url(#{$img-path}/temp-t1.gif); }
        &.temp-t2 { background-image: url(#{$img-path}/temp-t2.gif); }

        &:hover, &:focus, &.active {
            @extend .hover-warning;
        }
    }
}


// == form-custom
// ------------------------------------------------------------
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='date'],
input[type='time'],
input:not([type]),
textarea, select {
    @extend %form-element;
}


// == custom
// ------------------------------------------------------------
//
// src: w3.css v4
.font-tiny   { @include rem('font-size', 12); }  // 13px
.font-sm     { @include rem('font-size', 13); }  // 14px
.font-md     { @include rem('font-size', 15); }
.font-lg     { @include rem('font-size', 20); }  // 20px
.font-xl     { @include rem('font-size', 24); }
.font-xxl    { @include rem('font-size', 32); }
.font-xxxl   { @include rem('font-size', 48); }
.font-jumbo  { @include rem('font-size', 64); }

//
// sizing
@each $size, $value in $sizes {
    .w-#{$size} { width: $value; }
}
.w-auto { width: auto; }

//
// 本次專案才用到的樣式
.underline {
    border-bottom: 1px solid lighten(color("primary"),30);
}

.title {
    @extend .mb-24, .font-lg, .text-primary, .underline;
    line-height: 2;

    small {
        @extend .ml-8, .text-muted;
    }
}