@charset "UTF-8";

$img-path:                '../images';

// == color
// ----------------------------------------------------------------------
$gray-100:         #f8f9fa !default;
$gray-200:         #e9ecef !default;
$gray-300:         #dee2e6 !default;
$gray-400:         #ced4da !default;
$gray-500:         #adb5bd !default;
$gray-600:         #868e96 !default;
$gray-700:         #495057 !default;
$gray-800:         #343a40 !default;
$gray-900:         #212529 !default;

$blue:             #007bff !default;
$indigo:           #6610f2 !default;
$purple:           #6f42c1 !default;
$pink:             #e83e8c !default;
$red:              #dc3545 !default;
$orange:           #fd7e14 !default;
$yellow:           #ffc107 !default;
$green:            #28a745 !default;
$teal:             #20c997 !default;
$cyan:             #17a2b8 !default;

$pale-green:       #E7FFE7 !default;
$pale-blue:        #E7FFFF !default;
$pale-yellow:      #fffFD7 !default;
$pale-red:         #FFE7E7 !default;

$colors: (
    primary:       #438EB9, // $blue,
    secondary:     $gray-600,
    success:       #5CB85C, // $green,
    info:          #5BC0DE, // $cyan,
    warning:       #F0AD4E, // $yellow,
    danger:        #C4272D, // $red,
    light:         $gray-100,
    dark:          $gray-800,
    muted:         $gray-400
) !default;


// == custom-element
// ----------------------------------------------------------------------
// This variable affects the '.w-*' classes. ref: util
$sizes: (
    15:               15%,
    20:               20%,
    25:               25%,
    // 75:            75%,
    100:              100%
) !default;

$font-family-sp:      'Encode Sans Condensed', sans-serif !default;

$table-color-border:  $gray-300;

$btn-theme: (
    secondary:                   color(secondary),
    success:                     color(success),
    info:                        color(info),
    warning:                     color(warning),
    danger:                      color(danger)
) !default;

$modal-close-size:     32px;

// == layout
// ----------------------------------------------------------------------
$min-width:             1008px;     // 網頁最小尺寸
$max-width:             1400px;     // 網頁最寬尺寸: .wrap

// wrapper
$wrapper-bg:            false !default;
$wrapper-b-spacing:     30px !default;
$container-x-spacing:   24px !default;
$footBeBottom:          true !default; // 頁腳是否置底 true / false

// header
$header-height:         46px !default;
$header-bg:             color("primary") !default;

// footer
$footer-height:         70px !default;
$footer-bg:             false !default;
$footer-color:          false !default; //#63889D;

// sidebar
$sidebar-width:         220px;
$sidebar-title-height:  45px;
$sidebar-theme-color:   #f2f2f2;

//
// z-index
$z-index: (
    header:             6,
    main:               1,
    footer:             2,
    sidebar:            4,
    logo:               10,
    menu:               20,
    tooltip:            88,
    goTop:              99,
    overlay:            999,
);


// nav
$navbar-height:         $header-height !default;

$nav-name:              '.nav-link' !default;
$nav-height:            'full' !default;   // 'full' | 18px | flase
$nav-font-size:         17px !default;
$nav-color:             #fff !default;
$nav-bg:                lighten(color(), 16) !default;

$nav-item: (
    home:               color(warning),
    logout:             color(success)
) !default;