<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeamForce_@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/vendor/open-iconic.css">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    <link rel="stylesheet" href="~/Content/css/index.css">
</head>
<body>
    <div id="wrapper">
        <header id="header" class="wrap">
            <h2 class="inline-block pull-left headLogo" tabindex="-1">
                <img class="inline-block pull-left" src="~/Content/images/logo.png" title="回首頁" />
            </h2>
            <h2 class="inline-block pull-left ml-16 headTitle" tabindex="-1">
                <small class="logo-sub block font-xl">挺鋒電檢技術股份有限公司</small>
                <small class="logo-en block mt-4">TeamForce Electric Engineering CO.,LTD.</small>
            </h2>
            <div class="inline-block pull-right mt-12 font-sm headNote">專業負責．機電顧問</div>
            <button class="mobile-toggle ti-menu" title="選單">
                <span class="oi menuIcon" data-glyph="menu"></span>
            </button>
            <nav class="navMenu pull-right">
                <a href="~/Home/Index" class='nav-item font-lg ml-64'>公司簡介</a>
                <a href="~/Home/Service" class='nav-item font-lg ml-64'>服務項目</a>
                <a href="~/Home/Perform" class='nav-item font-lg ml-64'>公司實績</a>
                <a href="~/Home/Contact" class="nav-item font-lg ml-64">連絡我們</a>
                <a href="~/Home/Connect" class='nav-item font-lg ml-64'>相關連結</a>
            </nav>

            <!--<div>
                    <a href="~/Home/Index" class='nav-item font-lg ml-64'>公司簡介</a>
                    <a href="~/Home/Service" class='nav-item font-lg ml-64'>服務項目</a>
                    <a href="~/Home/Perform" class='nav-item font-lg ml-64'>公司實績</a>
                    <a href="~/Home/Contact" class="nav-item font-lg ml-64">連絡我們</a>
                    <a href="~/Home/Connect" class='nav-item font-lg ml-64'>相關連結</a>
                </div>-->
            </header>
            @RenderBody()
        </div>




        <footer id="footer">
            <img src="~/Content/images/footImg.png" class="mb-0" />
            <div class="foot-content">
                <img src="~/Content/images/footLogo.png" class="inline-block mt-16 pull-left" />
                <dl class="col-4 inline-block mt-32 ml-48">
                    <dd class="font-md mb-12"><span class="footSpan">&nbsp;T&nbsp;</span> 03-4670099 &emsp; <span class="footSpan">&nbsp;F&nbsp;</span> 03-4679008</dd>
                    <dd class="font-sm mb-2">桃園市平鎮區振平街252號</dd>
                    <dd class="font-sm">team.force@msa.hinet.net</dd>
                </dl>
            </div>
            <div class="foot-bottom font-tiny">
                &copy; 2017 TeamForce Electric Engineering
            </div>

        </footer>

        <script src="//code.jquery.com/jquery-latest.min.js"></script>
        <script>
            //// 行動版選單 ////
            $menuActive = false;  ///設定選單狀態
            $('.menuIcon').click(function () {
                if (!$menuActive) {
                    $('.menuIcon').attr('data-glyph', 'x');
                    $('.navMenu').addClass('mobile-menu');
                    $('body').addClass('mobile-menu-body');
                    $menuActive = !$menuActive;
                }

                else {
                    $('.menuIcon').attr('data-glyph', 'menu');
                    $('.navMenu').removeClass('mobile-menu');
                    $('body').removeClass('mobile-menu-body');
                    $menuActive = !$menuActive;
                }

            });

        </script>
        @RenderSection("scripts", required: false)
    </body>
    </html>
