@{
    ViewBag.Title = "公司簡介";
    ViewBag.BodyClass = "AboutUs";
}

<section class="wrap">
    <article class="col-sm-8 col-md-9 pb-32 text-left clearfix">
        <h2 class="title font-en mb-24">ABOUT US</h2>
        <p>本公司創立於2003年6月，以提供專業電力檢測咨詢、服務；提升改善用電品質為目標，並以誠信、負責的創業精神完成業主所交付的工作。成立至今已獲得無數業主及同業之讚賞與口碑。</p>
        <p>經營理念以專注本業、效率服務的理念，立足電業、深耕地方、追求卓越，本著工安為先、廠辦為友之同理心為基本態度，解決廠辦人員相關用電問題。</p>
        <p>我們的堅持:施工品質、專業技能、人員素質、團隊精神。</p>

        <h3>專業證照</h3>
        <ul class="list-unstyled font-lg">
            <li class="ti-cup">電氣技術顧問團體登記執照：桃市電檢字第DE700007-1號</li>
            <li class="ti-cup">甲級電器承裝業登記執照：桃市電證甲字第DE100039號</li>
        </ul>
    </article>

    <aside class="col-sm-4 col-md-3 py-48">
        <img src="~/Content/images/about-pic.jpg" class="img-center full mb-16" alt="公司簡介插圖">
        <img src="~/Content/images/about-pic2.jpg" class="img-center full mb-16" alt="公司簡介插圖">
    </aside>
</section>

<section class="px-16 py-48 about-slogan">
    <span class="inline-block">展望未來加強團隊的專業實力</span><br>
    <span class="inline-block">提昇人員之服務熱忱</span> &nbsp; <span class="inline-block">預知保養E化管理</span><br>
    <span class="inline-block">為台灣的產業升級積極貢獻</span>
</section>

