@{
    ViewBag.Title = "首頁";
    ViewBag.BodyClass = "Index";
}

@section head {
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
}
@section scripts {
    <script src="~/Content/js/swiper.min.js"></script>
    <script>
        $(function () {
            var windowHeight = $(window).height();

            // WELCOME 內容特效
            var noteHeight = $('.head-info').offset().top;
            var containText = $('.intro p');

            // BOX 內容特效
            var BoxAreaHeight = $('.service').height() + $('.service').offset().top;
            var BoxText = $('.box li');

            $(window).scroll(function (e) {
               /* var scrollTop = $(this).scrollTop() + ($(window).height());
                console.log('scrollTop: ' + scrollTop);
                console.log('scroll: ' + $(this).scrollTop());
                console.log($('.headNote').offset().top);*/
                if (($(this).scrollTop() > noteHeight) && (!containText.hasClass('flyIn')))
                    containText.addClass('flyIn');
                if ((($(this).scrollTop() + windowHeight) > BoxAreaHeight) && (!BoxText.hasClass('fadeIn')))
                    BoxText.addClass('fadeIn');
            })
        })

        // swiper 4.1.6 (輪播效果)
        var mySwiper = new Swiper('#banner', {
            speed: 1000,
            effect: 'fade',
            autoplay: {
                delay: 5000,
            },
            fadeEffect: {
                crossFade: true
            },
        });
    </script>
}

<section id="banner" class="swiper-container">
    <main class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('@Url.Content("~/Content/images/index/banner.jpg")'"></div>
        <div class="swiper-slide" style="background-image: url('@Url.Content("~/Content/images/index/banner2.jpg")'"></div>
        <div class="swiper-slide" style="background-image: url('@Url.Content("~/Content/images/index/banner3.jpg")'"></div>
    </main>
    <h2 class="slogan m-0">
        擔任用電場所電氣負責人
        <small class="block font-en font-xxl mt-16">ELECTRICAL PERSON IN CHARGE</small>
    </h2>
</section>

<section class="intro wrap">
    <h1 class="title font-en">WELCOME</h1>
    <h4 class="text-primary mb-16">本公司創立於2003年6月，以提供專業電力檢測諮詢、服務</h4>
    <p>隨著社會經濟不斷發展，電力的應用除增加生活便利性，也同時提高火災發生的危險</p>
    <p>經常檢視用電設施及電器設備，適時汰換老舊損壞易生危險的用電設備</p>
</section>

<section class="service bg-muted">
    <div class="wrap">
        <article class="box">
            <h2 class="text-secondary">機電顧問</h2>
            <ul class="list-unstyled text-left text-primary">
                <li class="ti-check-box">擔任用電場所電氣負責人</li>
                <li class="ti-check-box">每半年定期實施電氣設備保養檢驗</li>
                <li class="ti-check-box">二十四小時緊急事故搶修鑑定</li>
            </ul>
            <a class="btn full scroll" href="~/Home/Service#s1">READ MORE</a>
        </article>

        <article class="box">
            <h2 class="text-secondary">高低壓電氣設備檢驗</h2>
            <ul class="list-unstyled text-left text-primary">
                <li class="ti-check-box">保護電驛動作特性檢驗</li>
                <li class="ti-check-box">用電品質分析檢測</li>
                <li class="ti-check-box">專業精密熱顯像測試檢驗</li>
            </ul>
            <a class="btn full scroll" href="~/Home/Service#s2">READ MORE</a>
        </article>

        <article class="box">
            <h2 class="text-secondary">電力設備技術</h2>
            <ul class="list-unstyled text-left text-primary">
                <li class="ti-check-box">配電盤設備設計安裝修改</li>
                <li class="ti-check-box">各式高低壓斷路器開關.修理.安裝</li>
                <li class="ti-check-box">高低壓動力設備安裝</li>
            </ul>
            <a class="btn full scroll" href="~/Home/Service#s3">READ MORE</a>
        </article>
    </div>
</section>