@{
    ViewBag.Title = "Home Page";
}

<section id="banner">
    <div class="bannerContain">
        <dd class="mainTextChin font-xxxl">擔任用電場所電氣負責人</dd>
        <p class="mainTextEng font-xxl mt-16">ELECTRICAL PERSON IN CHARGE</p>
    </div>
</section>
<div class="homeContain mb-48">
    <h1 class="font-jumbo mb-24">WELCOME</h1>
    <p class="font-ll containTitle">本公司創立於2003年6月，以提供專業電力檢測諮詢、服務</p>
    <p class="font-md mt-16">隨著社會經濟不斷發展，電力的應用除增加生活便利性，也同時提高火災發生的危險</p>
    <p class="font-md">須提醒自己及周遭親友落實防火安全，經常檢視用電設施及電器設備，適時汰換老舊損壞易生危險的用火用電設備</p>
</div>
<div class="homeBoxArea">
    <div class="boxContent">
        <div class="box inline-block">
            <h2>機電顧問</h2>
            <p><span class="oi" data-glyph="task" title="icon name" aria-hidden="true"></span>擔任用電場所電氣負責人</p>
            <p><span class="oi" data-glyph="task" title="icon name" aria-hidden="true"></span>每半年定期實施電氣設備保養檢驗</p>
            <p class="mb-64"><span class="oi" data-glyph="task" title="icon name" aria-hidden="true"></span>二十四小時緊急事故搶修鑑定</p>
            <button class="btn">READ MORE</button>
        </div>
        <div class="box inline-block">
            <h2>高低壓電氣設備檢驗</h2>
            <p><span class="oi" data-glyph="task" title="icon name" aria-hidden="true"></span>保護電驛動作特性檢驗</p>
            <p><span class="oi" data-glyph="task" title="icon name" aria-hidden="true"></span>用電品質分析檢測</p>
            <p class="mb-64"><span class="oi" data-glyph="task" title="icon name" aria-hidden="true"></span>專業精密熱顯像測試檢驗</p>
            <button class="btn">READ MORE</button>
        </div>
        <div class="box inline-block">
            <h2>電力設備技術</h2>
            <p><span class="oi" data-glyph="task" title="icon name" aria-hidden="true"></span>電源自動復閉器安裝設定</p>
            <p><span class="oi" data-glyph="task" title="icon name" aria-hidden="true"></span>配電盤電容設計安裝</p>
            <p class="mb-64"><span class="oi" data-glyph="task" title="icon name" aria-hidden="true"></span>發電機備用迴路規劃</p>
            <button class="btn">READ MORE</button>
        </div>
    </div>
</div>