@{
    ViewBag.Title = "公司實績";
    ViewBag.BodyClass = "Perform";
}

<section class="wrap text-left pb-48">
    <h2 class="title font-en">PERFORMANCE</h2>
    <ol class="perform-list font-lg col-md-9">
        <li>國立中央大學</li>
        <li>中原大學</li>
        <li>自來水股份有限公司第二區管理處</li>
        <li>法務部矯正署</li>
        <li>台光電子材料股份有限公司</li>
        <li>聯勤通信電子器材基地勤務廠</li>
        <li>長榮航空股份有限公司</li>
        <li>長榮空廚股份有限公司</li>
        <li>中華電信股份有限公司臺灣北區電信分公司桃園營運處</li>
        <li>台光電子材料股份有限公司</li>
        <li>鴻海國際股份有限公司</li>
        <li>聯強國際股份有限公司</li>
        <li>聯華實業股份有限公司</li>
        <li>創國精密股份有限公司</li>
        <li>合誠化學製藥股份有限公司</li>
        <li>屏榮食品股份有限公司</li>
        <li>瑞軒科技股份有限公司</li>
        <li>桃園市政府環境保護局</li>
        <li>中壢區戶政事務所</li>
        <li>健鼎科技股份有限公司</li>
        <li>力特光電科技股份有限公司</li>
        <li>華城電機股份有限公司</li>
        <li>易發/東野精機股份有限公司</li>
        <li>光寶科技股份有限公司</li>
        <li>仁寶科技股份有限公司</li>
        <li>同欣電子工業股份有限公司</li>
        <li>中興紡織廠股份有限公司</li>
        <li>國聯矽業化學股份有限公司</li>
        <li>葡萄王生技股份有限公司</li>
        <li>合晶科技股份有限公司</li>
        <li>台灣中油(股)公司天然氣事業部北區營業處</li>
    </ol>
    <aside class="col-md-3">
        <img src="~/Content/images/perform-pic.jpg" class="img-center full mb-16" alt="公司實績插圖">
        <img src="~/Content/images/perform-pic2.jpg" class="img-center full mb-16" alt="公司實績插圖">
    </aside>
</section>


