@{
    ViewBag.Title = "服務項目";
    ViewBag.BodyClass = "Service";
}

<section class="service-content">
    <div class="wrap">
        <article class="col-md-8 pb-48 text-left clearfix">
            <h2 class="title font-en">SERVICE</h2>
            <dl class="service-item col-sm-6">
                <dt class="underline">擔任用電場所機電顧問</dt>
                <dd class="ti-check-box">擔任用電場所電氣負責人</dd>
                <dd class="ti-check-box">巡視檢查高低壓用電設備</dd>
                <dd class="ti-check-box">每半年定期實施電氣設備保養檢驗</dd>
                <dd class="ti-check-box">定期報表呈送縣政府及台電備查</dd>
                <dd class="ti-check-box">合理用電契約分析</dd>
                <dd class="ti-check-box">二十四小時緊急事故搶修鑑定</dd>
                <dd class="ti-check-box">電力設備之改善疑難解答及提供解決方案</dd>
            </dl>
            <dl class="service-item col-sm-6">
                <dt class="underline">高低壓電氣設備定期檢驗維護</dt>
                <dd class="ti-check-box">絕緣耐壓及介質吸收特性檢驗</dd>
                <dd class="ti-check-box">保護電驛動作特性檢驗</dd>
                <dd class="ti-check-box">接觸電阻特性檢驗</dd>
                <dd class="ti-check-box">電力因數特性檢驗</dd>
                <dd class="ti-check-box">接地電阻檢驗</dd>
                <dd class="ti-check-box">匝比測試</dd>
                <dd class="ti-check-box">用電品質分析監測</dd>
                <dd class="ti-check-box">專業精密熱顯像測試檢驗</dd>
                <dd class="ti-check-box">局部放電檢驗</dd>
            </dl>

            <h2 class="title font-en">PROFESSIONAL</h2>
            <dl class="service-item col-sm-6">
                <dt class="underline">竣工檢驗</dt>
                <dd class="ti-check-box">送電前檢測及維護及報竣</dd>
                <dd class="ti-check-box">保護電驛設定檢討與查核</dd>
                <dd class="ti-check-box">電機技師設計規劃簽證</dd>
            </dl>
            <dl class="service-item col-sm-6">
                <dt class="underline">電力設備技術</dt>
                <dd class="ti-check-box">電力改壓規劃設計施工</dd>
                <dd class="ti-check-box">專業接地施工與規劃</dd>
                <dd class="ti-check-box">配電盤電容設計安裝</dd>
                <dd class="ti-check-box">發電機及備用迴路規劃</dd>
                <dd class="ti-check-box">配電盤設備設計安裝修改</dd>
                <dd class="ti-check-box">各式高低壓斷路器開關.修理.安裝</dd>
                <dd class="ti-check-box">高低壓動設備安裝施工</dd>
                <dd class="ti-check-box">各式保護電譯設定安裝</dd>
            </dl>

            <h2 class="title font-en">RESPONSIBILITY</h2>
            <dl class="service-item col-sm-6">
                <dt class="underline">變壓器絕緣油之檢驗及更新工程</dt>
                <dd class="ti-check-box">絕緣油耐壓值檢驗</dd>
                <dd class="ti-check-box">絕緣油酸價值檢驗</dd>
                <dd class="ti-check-box">油中氣體分析</dd>
                <dd class="ti-check-box">油品特性分析</dd>
                <dd class="ti-check-box">舊油更新處理</dd>
                <dd class="ti-check-box">真空過濾絕緣油</dd>
            </dl>
            <dl class="service-item col-sm-6">
                <dt class="underline">節電方案研擬施工</dt>
            </dl>
            <dl class="service-item col-sm-6">
                <dt class="underline">電力系統新設、增設、變更規劃設計</dt>
            </dl>
        </article>

        <aside class="col-md-4 py-48 px-32 bg-muted">
            <img src="~/Content/images/service-pic1.jpg" alt="施工圖">
            <img src="~/Content/images/service-pic2.jpg" alt="施工圖">
            <img src="~/Content/images/service-pic3.jpg" alt="施工圖">
        </aside>
    </div>
</section>