@charset "UTF-8";

/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
.wrap {
    @extend .center;

    max-width: $max-width;

    @include clearfix;

    @include mq-max(break($max-width, -1)) {
        @include rem('padding-left', 16px);
        @include rem('padding-right', 16px);
    }

    @if not $enable-RWD {
        @media only screen and (min-device-width: 1024px) {
            min-width: $min-width;
        }
    }
}

#wrapper {
    @if $wrapper-bg     { background: $wrapper-bg; }
    @if not $enable-RWD {
        @media only screen and (min-device-width: 1024px) {
            min-width: $min-width;
        }
    }

    // 讓foot總是在頁腳
    @if $lte7 { _height: 100%; }

    min-height: 100%;

    @if $enable-RWD {
        @include mq(desktop) {
            padding-bottom: $footer-height + $wrapper-b-spacing;
        }
    }
    @else {
        padding-bottom: $footer-height + $wrapper-b-spacing;
    }

    // 本次專案
    @if $isPage {
        padding-top: $header-height;

        @include mq-max(break(phone, -1)) {
            padding-top: $header-mobile-hg;
        }
    }
}

// 此案header內容
// ----------------------------------------------------------------------
#header {
    @if $header-bg     { background: $header-bg; }
    @if $header-height { height: $header-height; }
    // position: relative;
    z-index: z(header);

    // 本次專案
    box-shadow: 0 3px 0 rgba(#000, .06);
    width: 100%;

    @include absolute(top 0 left 0);
    @include transition(.5s);

    @include mq-max(break(phone, -1)) {
        height: $header-mobile-hg;
    }

    .wrap {
        position: relative;
    }

    &.scrolling {
        position: fixed;
        height: $header-scrolling;
    }

    &:hover {
        background: #fff;
    }
}

.scrolling {
    @include diy-animate(scrolling, 1s alternate both) {
        from {
            opacity: 0.5;
            top: -$header-height;
        }

        to {
            opacity: 1;
            top: 0;
        }
    }
}

.logo {
    cursor: pointer;
    cursor: hand; // for ie

    // 本次專案
    @extend .text-primary, .font-xl, .text-left, .mt-24, .mb-0;

    $font-height: 45px;

    background: url(#{$img-path}/#{$logo-img}) 0 0 no-repeat;
    background-size: contain;

    letter-spacing: .02em;
    height: nth($logo-size, 2);
    min-width: nth($logo-size, 1);
    padding-top: (nth($logo-size, 2) - $font-height)/2;
    padding-left: nth($logo-size, 1) + 16;

    @include mq-max(break(phone, -1)) {
        margin-top: 6px;
        height: $header-mobile-hg - 12;
        padding-left: 72px;
    }

    .scrolling & {
        height: $header-scrolling - 4;
        margin-top: 2px;
    }

    .mobile-show,
    .mobile-hide {
        .scrolling & {
            display: none;
        }
    }

    .mobile-show {
        @include mq(phone) {
            display: none;
        }
    }

    .mobile-hide {
        @include mq-max(break(phone, -1)) {
            display: none;
        }
    }

    small {
        @extend .text-secondary, .font-sm;
        letter-spacing: .1em;
    }
}

// top 介紹
.head-info {
    letter-spacing: em(4.5px);
    color: darken(color(muted), 18);

    @include absolute(top 13px right 16px);

    @include mq($mobile-menu-bk) {
        right: 24px;
    }
    @include mq-max(break(phone, -1)) {
        top: 6px;
    }

    .scrolling & {
        display: none;
    }
}


// footer 頁腳
// ----------------------------------------------------------------------
#footer {
    @if $footer-bg    { background: $footer-bg; }
    @if $footer-color { color: $footer-color; }
    position: relative;

    @if $enable-RWD {
        @include mq(desktop) {
            // min-height: $footer-height; > 挪到下方的 .wrap
            margin-top: -($footer-height);
            z-index: z(footer);
        }
    }

    // 本次專案
    @include el(after, $ext: false) {
        @include mq(phone) {
            width: 93px;
            height: 95px;
            background: url(#{$img-path}/footImg.png) 0 0 no-repeat;

            @include absolute(bottom 0);
        }

        @include mq(wider) {
            left: 50%;
            margin-left: $max-width/2 - 93;
        }
        @include mq-max(break(wider, -1)) {
            right: 8px;
        }
    }

    .wrap {
        @include mq(desktop) {
            min-height: $footer-height - 40;
        }
        @include mq-max(break(desktop, -1)) {
            padding-bottom: 24px;
        }
    }

    a {
        @extend .text-white, .hover-underline;
    }
}

.foot {
    $foot-content-mt: ($footer-height/3 - 20);

    // 頁腳logo
    &-logo {
        @include text-pic('foot-logo.gif', false, 82px, center 0);

        margin-top: $foot-content-mt;

        @include mq-max(break(desktop, -1)) {
            margin-top: $foot-content-mt/3;
        }
        @include mq-max(break(phone-plus, -1)) {
            background-size: contain;
        }
    }

    // 頁腳聯絡資訊
    &-contact {
        @extend %list-unstyled;

        text-align: left;
        margin-top: $foot-content-mt + 4;

        @include mq-max(break(desktop, -1)) {
            margin-top: ($foot-content-mt/3 + 4);
        }
        @include mq-max(break(tablet, -1)) {
            padding-left: 16px;
        }

        .tel, .fax {
            @extend .mb-8;

            display: inline-block;

            @include mq(phone-plus) {
                letter-spacing: 2px;
                margin-right: 16px;
            }

            @include rem('font-size', 17);
        }

        // 圓icon
        span {
            @extend .mr-4;

            display: inline-block;
            letter-spacing: 0;

            @include circle(20px, center, color(secondary));
        }
    }
}

.copyright {
    @extend .font-tiny, .bg-black, .font-en;

    line-height: 40px;
    letter-spacing: 1px;
}
