@charset "UTF-8";

$mobile-menu-bk: 'wide';


/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
.wrap {
    @extend .center;

    max-width: $max-width;

    @include clearfix;

    @include mq(desktop, $max-width) {
        max-width: $min-width;
    }

    @if $enable-RWD {
        @include mq-max(break($min-width, -1)) {
            @include rem('padding-left', 16px);
            @include rem('padding-right', 16px);
        }
    }
    @else {
        min-width: $min-width;
    }
}

#wrapper {
    @if $wrapper-bg     { background: $wrapper-bg; }
    @if not $enable-RWD { min-width: $min-width; }

    // 讓foot總是在頁腳
    @if $lte7 { _height: 100%; }

    min-height: 100%;

    @if $enable-RWD {
        @include mq(desktop) {
            padding-bottom: $footer-height + $wrapper-b-spacing;
        }
    }
    @else {
        padding-bottom: $footer-height + $wrapper-b-spacing;
    }
}

// 此案header內容
// ----------------------------------------------------------------------
#header {
    @if $header-bg     { background: $header-bg; }
    @if $header-height { height: $header-height; }
    // position: relative;
    z-index: z(header);

    // 本次專案
    width: 100%;
    box-shadow: 3px 0 0 0 rgba(#fff, .06);

    @include absolute(top 0 left 0);
}

.logo {
    cursor: pointer;
    cursor: hand; // for ie

    // 本次專案
    @extend .text-primary, .font-xl, .mt-24, .text-left;

    $font-height: 45px;

    background: url(#{$img-path}/#{$logo-img}) 0 0 no-repeat;
    padding-left: nth($logo-size, 1) + 16;
    padding-top: (nth($logo-size, 2) - $font-height)/2;
    min-height: nth($logo-size, 2);

    @include mq(phone-plus) {
        letter-spacing: .05em;
    }
    @include mq(break(mobile, +1), phone) {
        @include rem('font-size', 18);
    }

    @include mq-max(mobile) {
        margin-top: 4rem;
        @include rem('font-size', 16);
    }

    small {
        @extend .text-secondary, .font-sm;

        letter-spacing: .07em;

        // @include mq(mobile,phone) {
        //     @include rem('font-size', 10);
        //     letter-spacing: 0.02em;
        // }

        @include mq-max(mobile) {
            display: none;
        }
    }
}

// top 介紹
.head-info {
    margin: 13px 24px 0 0;
    letter-spacing: em(4.5px);
    color: darken(color(muted), 5);

    @include mq-max(phone) {
        @include rem('font-size', 12);
    }
}

// 滾動時滑出Header樣式
.scrollHeader {
    position: fixed;
    background-color: rgba(255,255,255,0.9);
    z-index: 9999;
    display: none;

    .logo {
        margin-top: 0.5em;
        margin-left: 10vw;
        @include mq-add-breakpoint(secondScreen, 1550px);

        @include mq(wider,secondScreen) {
            margin-left: 5vw;
        }

        > img {
            width: 70%;
        }
    }

    .headTitle {
        margin-top: 2rem;

        .logo-sub {
        }

        .logo-en {
            @include rem('font-size', 10);
        }
    }

    .navMenu {
        margin-top: 2.5em;
        margin-right: 10vw;
        @include mq-add-breakpoint(secondScreen, 1550px);

        @include mq(wider,secondScreen) {
            margin-right: 2vw;
        }
    }
}

.scrolling {
    display: block;
    // animation: SCROLLING 1s;
    // animation-fill-mode: both;

    @include mq-max(wide) {
        display: none;
    }

    @include diy-animate(scrolling, 1s both) {
        from {
            opacity: 0.5;
            top: -70px;
        }

        to {
            opacity: 1;
            top: 0;
        }
    }
}


// footer 頁腳
// ----------------------------------------------------------------------
#footer {
    @if $footer-bg    { background: $footer-bg; }
    @if $footer-color { color: $footer-color; }

    @if $enable-RWD {
        @include mq(desktop) {
            // min-height: $footer-height;
            margin-top: -($footer-height);
            position: relative;
            z-index: z(footer);
        }
    }

    // 本次專案
    .wrap {
        @include mq(desktop) {
            min-height: $footer-height - 40;
        }
    }

    a {
        @extend .text-white;

        position: relative;

        @include el(after) {
            border-bottom: 1px solid #fff;
            width: 0;

            @include transition(.35s);
            @include absolute(left 50% bottom 0);
        }

        &:hover, &:active {
            &::after {
                width: 100%;
                left: 0;
            }
        }
    }
}

.foot {
    $foot-content-mt: 92px;

    // 頁腳logo
    &-logo {
        @include text-pic('foot-logo.gif', false, 82px, center 0);
        margin-top: $foot-content-mt;
    }

    // 頁腳聯絡資訊
    &-contact {
        @extend %list-unstyled;

        text-align: left;
        margin-top: $foot-content-mt + 4;

        .tel, .fax {
            @extend .mb-8;

            display: inline-block;

            @include mq(phone-plus) {
                letter-spacing: 2px;
                margin-right: 16px;
            }

            @include rem('font-size', 17);
        }

        // 圓icon
        span {
            @extend .mr-4;

            display: inline-block;
            letter-spacing: 0;

            @include circle(20px, center, color(secondary));
        }
    }
}

.copyright {
    @extend .font-tiny, .bg-black, .font-en;

    line-height: 40px;
    letter-spacing: 1px;
}
