@charset "UTF-8";

$img-path:                '../images';

// == color
// ----------------------------------------------------------------------
$pale-green:              #E7FFE7 !default;
$pale-blue:               #E7FFFF !default;
$pale-yellow:             #fffFD7 !default;
$pale-red:                #FFE7E7 !default;

// 情境狀態 + 配色
$colors: (
    primary:              #2D385E, // 04828d
    secondary:            #017E9C,
    muted:                #E5E5E5,
    success:              #9e8467,
    info:                 #1D243D, // 30bebc
    warning:              #FCB037,
    danger:               #FF2200
);


// == custom-element
// ----------------------------------------------------------------------
// basic
$body-bg:                    #fff;
$body-color:                 #695f5f;
$font-family-sp:             false; // 'Montserrat', sans-serif
$font-family-base:           \5FAE\8EDF\6B63\9ED1\9AD4,"微軟正黑體","Microsoft JhengHei",'Helvetica Neue',Helvetica,Arial,sans-serif !default;

// link
$link-color:                 color(secondary);
$link-color-hover:           color();

$border-color:               lighten(color(secondary), 66);


// == layout
// ----------------------------------------------------------------------
$min-width:             1200px;     // 網頁最小尺寸 1008
$max-width:             1400px;     // 網頁最寬尺寸: .wrap

$wrapper-bg:            false !default;
$wrapper-b-spacing:     100px !default;

// header
$header-height:         130px !default; // for page
$header-bg:             rgba(#fff, .95) !default;
$header-mobile-height:  false !default;

// logo
$logo-img:              'logo.gif' !default; // 'logo.gif' or false
$logo-size:             72px 81px !default;

// footer
$footer-height:         320px !default;
$footer-bg:             #000 url(#{$img-path}/footerBg.jpg) center 180% no-repeat fixed !default;
$footer-color:          #fff !default;

// menu
$sub-nav-has:           false !default;         // 子選單
$nav-root:              if($sub-nav-has, 'li > a', 'a') !default;

// 行動版
$mobile-menu-has:       true !default;
$mobile-menu-bk:        'desktop' !default;     // 從()螢幕寬度以下開始出現行動版選單
$mobile-menu-bg:        rgba(#fff, .85) !default;          // rgba(#fff,.95)
$mobile-menu-width:     100% !default;
$mobile-transition:     'opacity .5s' !default;    // push - left .35s; overlay - opacity 1s

// z-index
$z-index: (
    header:             3,
    main:               1,
    footer:             2,
    logo:               10,
    menu:               20,
    figure:             1,
    // tooltip:            88,
    goTop:              99,
    overlay:            999,
    // acckey:             19
);
